body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #3175e0;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 1500px;
    width: 100%;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3175e0;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

/* Style for the links */
a {
    color: #3175e0; /* Link color */
    text-decoration: none; /* Remove underline */
    font-weight: bold;
    margin-right: 20px; /* Add space between the links */
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

/* Hover effect */
a:hover {
    background-color: lightblue; /* Background color on hover */
}

a:active {
    color: darkblue; /* Link color when clicked */
}

/* Center the links */
.links-container {
    text-align: center;
    margin-top: 20px;
}
